<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <h1>Bienvenido, {{user.name}}!</h1>

    <form action="/logout" method="POST">
      <button id="logout" type="submit">Cerrar sesión</button>
    </form>
    <script>

    </script>
  </body>
</html>